  #   1 .   V i s u a l   S t u d i o   ,g0W y	g W>W
 . v s / 
 * . u s e r 
 * . s u o 
 * . d b 
 * . i p c h 
 
 #   2 .   C + +   ы-N  N T Nۏ6R ^ e
 * . o b j 
 * . e x e 
 * . p d b 
 * . i l k 
 * . i d b 
 * . l i b 
 * . d l l 
 * . r e s 
 * . l o g 
 * . t l o g 
 * . l a s t b u i l d s t a t e 
 * . v s
 
 #   3 .   @wr hVы Nir  ( H L S L ) 
 * . c s o 
 
 #   4 .   8^   v   Q vU_
 [ D d ] e b u g / 
 [ R r ] e l e a s e / 
 x 6 4 / 
 x 8 6 / 
 
 